1. Navegar hasta la página de OMIE
2. Descargar un archivo de ejemplo (codigo ya hecho)
3. Explicar el uso de la función time
4. Descargar los archivos de manera diaria con el time
5. Repetir proceso con bucle `for` para descargar varios archivos a la vez
   1. Código hecho (lo explicaré paso a paso durante el curso)
   2. Promocionar contenido del curso

# Scraping tables from websites
https://www.omip.pt/es/market-data/spot?date=2024-04-27&commodity=EL&zone=ES

## Download raw data

'https://www.omip.pt/es/market-data/spot?date=2024-04-27&commodity=EL&zone=ES'

[        Index  Price (€)  Chart
 0   SPEL BASE      25.02    NaN
 1         NaN        NaN    NaN
 2  SPEL SOLAR       3.51    NaN
 3         NaN        NaN    NaN,
       Hours  Price (€)  Volume (MWh)
 0   00h-01h      47.88       17459.0
 1   01h-02h      40.00       17285.8
 ..      ...        ...           ...
 22  22h-23h      62.78       16324.9
 23  23h-24h      58.52       17017.6

 [24 rows x 3 columns]]

        Index  Price (€)  Chart
0   SPEL BASE      25.02    NaN
1         NaN        NaN    NaN
2  SPEL SOLAR       3.51    NaN
3         NaN        NaN    NaN

      Hours  Price (€)  Volume (MWh)
0   00h-01h      47.88       17459.0
1   01h-02h      40.00       17285.8
..      ...        ...           ...
22  22h-23h      62.78       16324.9
23  23h-24h      58.52       17017.6

[24 rows x 3 columns]

## Write to file

'../data/2024-04-27.csv'

## Refactor code into function

## Today

'2024-05-07'

## Multiple dates

Index(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05',
       '2024-01-06', '2024-01-07', '2024-01-08', '2024-01-09', '2024-01-10',
       '2024-01-11', '2024-01-12', '2024-01-13', '2024-01-14', '2024-01-15',
       '2024-01-16', '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20',
       '2024-01-21', '2024-01-22', '2024-01-23', '2024-01-24', '2024-01-25',
       '2024-01-26', '2024-01-27', '2024-01-28', '2024-01-29', '2024-01-30',
       '2024-01-31'],
      dtype='object')